.email-compose  {
    position: fixed;    

    padding: 1rem;
    border-radius: 25px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
    bottom:0;
    right: 1rem;
    width: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 48%);
    /* justify-content: center; */
}


.email-compose form {
    width: 60%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    
}

.email-compose textarea{
    resize: none;
}
.email-compose form label {
    margin-top: 20px;
}

.email-compose form button {
    align-self: center;
    
}
.email-compose .close-btn {
    align-self: center;
}

