.app-header {
    background: #6fd761;
    color: white;

}

.app-header section.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.app-header h1.logo {
    flex-grow: 1;
    font-weight: 600;
}

.app-header .back {
    flex-grow: 1;
}

.app-header nav a:not(:last-child) {
    margin-right: 10px;
}

.app-header section.container>section {
    flex-grow: 1;
}

li{
    list-style: none;
    
}

.isNotRead{
    background-color: aliceblue; 
}

 li {
    position: relative;
    
  }
  
 li:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #000; /* Adjust the border style as needed */
  }

