.folders-list li.selected {

    background-color: antiquewhite;
}

.folders-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: nav;
    font-size: large;
    border-top: 2px solid black;
    align-items: start;
    padding: 0.51rem;
    
 }

 .folders-list li a{
    display: flex;
    gap: 1rem;
 }