.folders-list li.selected {

    background-color: antiquewhite;
}

.folders-list{
    display: flex;
    flex-direction: column;
    grid-area: nav;
    font-size: large;
    border-top: 2px solid black;
    align-items: start;
    padding: 0.051rem;
    
 }

 .folders-list li{
    width: 100%;
 }
 .folders-list a{
    display: flex;
    gap: 1rem;
    
 }

 .folders-list a:hover{
    box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 48%);
 }