.email-preview {
    background: #e96b9509;
    background-repeat: no-repeat;    
    padding: 15px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
    width: 100%;
}


.email-preview:hover {
    box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 48%);
}


.email-preview .info {
    padding: 10px;
    flex-grow: 1;
}



.email-preview .actions a {
    color: white;
}

.email-preview:hover .actions {
    transform: translateY(0);
}