.email-list {
  grid-area: content;
  box-shadow: 0 0 11px #0000002b;
  padding: 0;
  overflow-y: hidden;
  
}
.email-list li{
  display: flex;    
  list-style: none;
  border-top: 1px solid gray;
}

.email-list .star-preview{
  align-self: center;
  background: #e96b9509;
}

.email-list .star-preview.selected{
  
    color: orange;
  
}

.star-preview:hover{
  box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 48%);
}


.isNotRead {
  font-weight: bold;
}
/* 
li {
  position: relative;
}
 */
/* Adjust the border style as needed */
/* li:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #000; 
}
 */