.email-list  li {

     /* display: flex;  */
     list-style: none;
    
}


.isNotRead{
    font-weight: bold;
}

 li {
    position: relative;
    
  }
  
 li:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #000; /* Adjust the border style as needed */
  }